#logo {
  color: blue;
  font-size: 20pt;
  padding: 10px;
  font-weight: bold;
  border: solid 1px black;
  border-radius: 20px;
  margin: 10px;
  width: 100px;
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}



header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 0.5px solid rgb(221, 221, 221);
  box-shadow: rgb(0 0 0 / 7%) 0px 6px 16px;
  margin-bottom: 3vh;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 12pt;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
  width: 120px;
  text-align: center;
  border: 1px solid blue;
}

.button:hover {
  background-color: white;
  color: blue;
}

.input {
  height: 40px;
  margin: 10px;
  font-size: 12pt;
  border-radius: 10px;
  border: 1px solid black;
  width: 260px;
}

.fileInput::-webkit-file-upload-button {
  display: none;
}

.fileInput::before {
  background-color: blue;
  color: white;
  content: "Upload Thumbnail";
  padding: 5px;
  margin-top: 2px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 10px;
  display: inline-block;
}

.my-modal-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.my-modal-content {
  width: 70vw;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  margin-top: 100px;
}

.banner {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.listingInput, .loginInput, .registerInput, .searchInput {
  display: flex;
  align-items: center;
  width: 50vw;
  justify-content: space-between;
}

.loginInput {
  width: 30vw;
}

.registerInput {
  width: 31vw;
}

.searchInput {
  width: 40vw;
  margin: 10px;
}

.my-slider {
  max-width: 260px;
}

.radio-button {
  margin-right: 260px;
}

.viewing_title {
  margin-top: 2vh;
  font-size: xx-large;
}

.viewing_main {
  display: flex;
  flex-direction: column;
  margin-left: 6.5vw;
}

.react-calendar {
  max-width: 30vw;

}
.react-calendar__tile {
  font-size: x-small;
  width: 0.5vw;
}

.booking_container {
  margin-left: 20vw;
  width: fit-content;
  height: 70vh;
  background-color: white;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5%;
  padding: 3%;
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
}

.book_btn_container {
  padding-top: 3%;
}

.booking_cal {
  width: 20vw;
  height: 20vh;
}

.viewing_info_text {
  width: 50%;
}
.viewing_body_info {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  margin-bottom: 10vh;
  
}


.carousel .slide img {
  max-width: 15%;
  max-height: 15%;
}

.thumbs-wrapper {
  display: none;
}

.review_box {
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

.reviews_title {

}

.reviews_list {
  overflow-y: scroll;
  height: 70vh;
}

.review_itself {
  width: 100%;
  height: 20vh;
  
}

.review_user { 
  
  font-size: large;
  font-weight: bold;
  height: 5vh;
}

.review_stars {
  font-weight: bolder;
  font-size: large;
  height: 5vh;
}

.review_body {
  font-size: medium;
  height: 10vh;
}

