#logo {
  color: blue;
  font-size: 20pt;
  padding: 10px;
  font-weight: bold;
  border: solid 1px black;
  border-radius: 20px;
  margin: 10px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 12pt;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
}

.input {
  height: 20px;
  margin: 10px;
  font-size: 12pt;
}
